#card {
    background-color: rgb(255, 245, 247);
    width: 300px;
    height: 420px;
    margin-top: 20px;
    border-radius: 5%;
    overflow: hidden;
    padding: 0;
}

#cardImage {
    display: flex;
    padding: 0 !important;

    overflow: visible;
}